@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightblue;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

form {
  padding: 15px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  width: 48%;
}

h4 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(151, 189, 202);
}

.row {
  margin: 5px 0;
}

h6 {
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 5px;
  background-color: rgb(195, 227, 238);
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

input:focus {
  border-color: rgb(151, 189, 202);
  outline: none;
}

img {
  width: 180px;
  height: 42px;
}

.btn {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background-color: rgb(68, 91, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(61, 79, 209);
}
